
@font-face {
  font-family: "思源宋体 CN VF Regular";
  src: url("@/assets/font/xFQY2kJOlpwCUSKa408AH.woff2") format("woff2"),
  url("@/assets/font/xFQY2kJOlpwCUSKa408AH.woff") format("woff");
  font-display: swap;
}
