@import "@/assets/scss/_handle.scss";
.container-body-card {
  width: 100%;
  @include background_color("background_color1");
  @include box_shadow("box_shadow_color1");
  @include font_color("font_color1");
}
#box-card {
  border: 0;
  margin-bottom: 20px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
